
.productCard{
    width: 350px;
}

.productCard img{

    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 100%;
    height: 250px;
}